<h1> <%= @cocktail.id %>. <%= @cocktail.name %> </h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <% @doses.each do |d| %>
        <%= d.description %>
        <%= d.ingredient.name %>
      <% end %>

      <% simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.input :ingredient_id, collection: @ingredients %>
        <%= f.submit "submit" %>
      <% end %>


      <br>
      <%= link_to "Edit cocktail name",edit_cocktail_path %>
      <br>
      <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
      <br>
      <%= link_to "Delete cocktail", cocktails_path %>
      <br>
      <%= link_to "Back to cocktails", cocktails_path %>
    </div>
  </div>
</div>
