<h1> <%= @cocktail.id %>. <%= @cocktail.name %> </h1>

<%= @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %>
  <%= dose.description %>
<% end  %>


<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
<br>
<br>
<%= link_to "Edit cocktail",edit_cocktail_path %>
<br>
<br>
<%= link_to "Delete cocktail", cocktails_path %>
<br>
<br>
<%= link_to "Back to cocktails", cocktails_path %>
