<h1>Add a new dose</h1>
<p>Find me in app/views/doses/new.html.erb</p>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection:
  Ingredient.all, value_method: :id,
  label_method: :name %>
  <%= f.submit %>
  <% end %>

  <%= link_to "Cancel", cocktail_path(@cocktail) %>

